.text {
  margin: 15px 5px;
  color: orangered;
  letter-spacing: 1px;
}

.logo {
  animation: breathe 2700ms infinite;
}

@keyframes breathe {
  50% {
    transform: scaleX(1.08) scaleY(1.08);
  }

  100% {
    transform: scaleX(1) scaleY(1);
  }
}

.vid {
  object-fit: cover;

  height: 76vh;
  width: 40vw;
  bottom: 1.5%;
  left: 31%;
  position: absolute;
  z-index: -1;

  transform: translateY(0px);

  opacity: 0.7;
}

@media only screen and (max-width: 1220px) {
  .vid {
    height: 74vh;

    width: 40%;
    left: 31%;
    bottom: -1.5%;
  }
}

@media only screen and (max-width: 920px) {
  .vid {
    height: 70vh;
    width: 40%;
    left: 31%;
    bottom: -2%;
  }
}

@media only screen and (max-width: 664px) {
  .vid {
    height: 55vh;
    width: 40%;
    left: 31%;
    bottom: 0%;
  }
}

.vidText {
  width: 100%;
  height: 80vh;
  display: flex;
  padding-bottom: 9rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
