@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import "../styles/NavBar.css";
@import "../styles/ConnectWallet.css";


/* *{
  outline: 1px solid red !important;
} */


html,
body {
  padding: 0;
  margin: 0;
  justify-content: center;
  font-family: Audiowide;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: Audiowide;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: white;
    font-family: Audiowide;
  }
}





/*  ********** End of global styles ************ */

