
body {
text-align: center;

}

/* CSS */
.btn2 {
  background-color: #111111;
  border: 2px solid ;
  border-radius: 10px;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.3em;
  padding: .7rem 1.4rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.btn2:hover {
  background-color: red;
  transform: scale(1.155);
}

.priceText {
  color: whitesmoke;
}

