.header{
    border-bottom: 1px solid #E2E8F0;
}


.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 35px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: whitesmoke;
}


.navitem {
    margin-left: 5rem;
}

.navlink{
    font-size: 2rem;
    font-weight: 400;
    color: #475569;
    text-transform: uppercase;
}

.navlink:hover{
    color: #482ff7;
}

.navlogo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}


.navbar {
    display: flex;
    justify-content: space-between;
    font-family: 'Audiowide';
    align-items: center;
    position: sticky;
    padding: 0.4rem;
    top: 0;
    z-index: 1;
    
    background: linear-gradient(rgba(0, 0, 0, 0.9), transparent);
    background-color: black;
  }
  
  .navmenu {
    display: flex;
    font-family: 'Audiowide';
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 1.5rem ;
    padding-right: 3.5rem;
  
   
  }
  
  
  
  .card1 {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  
    text-align: center;
    text-decoration: none;
    font-size: 0.95rem;
    border-radius: 10px;
  
    transition: all 0.4s ease-in-out, border-color 0.4s ease-in-out, background-color 0.4s ease-out;
    list-style: none;
    max-width: 300px;
    margin-right: .3rem;
  }
  
  .card2 {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  
    text-align: center;
    text-decoration: none;
    font-size: 0.95rem;
    border-radius: 10px;
  
    transition: all 0.4s ease-in-out, border-color 0.4s ease-in-out, background-color 0.4s ease-out;
    list-style: none;
    max-width: 300px;
    margin-right: .3rem;
  }
  
  .card3 {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  
    text-align: center;
    text-decoration: none;
    font-size: 0.95rem;
    border-radius: 10px;
  
    transition: all 0.4s ease-in-out, border-color 0.4s ease-in-out, background-color 0.4s ease-out;
    list-style: none;
    max-width: 300px;
    margin-right: .3rem;
  }
  
  .card4 {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  
    text-align: center;
    text-decoration: none;
    font-size: 0.95rem;
    border-radius: 10px;
  
    transition: all 0.4s ease-in-out, border-color 0.4s ease-in-out, background-color 0.4s ease-out;
    list-style: none;
    max-width: 300px;
    margin-right: .3rem;
  }
  
  .card1:hover,
  .card1:focus,
  .card1:active {
    color: black;
    background: linear-gradient(rgba(0, 82, 224, 1), transparent);
    text-shadow: 1px 1px 1px whitesmoke;
  
    background-color: whitesmoke;
    transition: all 0.3s ease-out;
    
  }
  
  .card2:hover,
  .card2:focus,
  .card2:active {
    color: black;
    background: linear-gradient(rgba(0, 183, 94, 1), transparent);
    text-shadow: 1px 1px 1px whitesmoke;
  
    background-color: whitesmoke;
    transition: all 0.3s ease-out;
    
  }
  
  .card3:hover,
  .card3:focus,
  .card3:active {
    color: black;
    background: linear-gradient(rgba(255, 79, 0, 1), transparent);
    text-shadow: 1px 1px 1px whitesmoke;
  
    background-color: whitesmoke;
    transition: all 0.3s ease-out;
    
  }
  
  .card4:hover,
  .card4:focus,
  .card4:active {
    color: black;
    background: linear-gradient(rgba(255, 0, 0, 1), transparent);
    text-shadow: 1px 1px 1px whitesmoke;
  
    background-color: whitesmoke;
    transition: all 0.3s ease-out;
    
  }
  
  
  li {
      list-style: none;
      margin-left: 1rem;
    
  }
  
  a {
      text-decoration: none;
  }
  button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  button:hover,
  button:focus {
      background:transparent;
  }
  
  button:focus {
      outline: none;
  
  }
    

@media only screen and (max-width: 835px) {
    .navmenu {
        position: absolute;
        left: -100%;
        height: 50vh;
        top: 3rem;
        flex-direction: column;
        background: linear-gradient(rgba(0, 0, 0, 1), transparent);
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 1;
        width: 100%;
        padding-right: 3.5rem;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.25);
        z-index: 1;
    }

    .navmenu.active {
        left: 0;
    }

    .navitem {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        padding-right: 1.7rem;
        padding-top: 0.5rem;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
  }