.description p {
    width: 80%;
    height: auto;
    display: flex;
}

.title{
    font-size: 1.2em;
    text-decoration: underline;
    color: orangered;
}

.fox {
    
    width: 200px;
    border-radius: 50%;
    padding-top: 45px;
}

.teams {

    letter-spacing: 1.5px;
    padding-bottom: 40px;
  }